@charset "UTF-8";
html {
    font-family:Officina Sans;
    font-size: 16px;
}

a {
    text-decoration:none;
    color:#0f77c7;
}

li {
    list-style-type: none;
}

.container {
    text-align:center;
    margin:0 auto;
    max-width: 500px;
}

.main_logo img {
    margin-top:20px;
    width: 250px;
    height:90px;
}

.main_contents {
    text-align: left;
    border:1px solid rgba(192,192,192,0.5);
    border-radius:4px;
    box-sizing: border-box;
    width:450px;
    height:630px;
    margin:0 auto;
    padding: 10px 20px;
}

.main_contents h1 {
    font-weight: normal;
    font-size: 33px;
}

.main_contents span {
    font-size:14.5px;
    color:#353535;
}

.main_contents .logo {
    width:15px;
    height:15px;
}

.pass_alert {
    padding-bottom: 15px;
}

.con input {
    border-radius:4px;
    height:31px;
    width: 410px;
    border: 1px solid #a6a6a6;
    box-shadow: rgba(255,255,255,0.5);
}

.con input:focus {
    box-shadow: 0 0 10px #ffa500;
    border:solid 1px #ffa500;;
    transition:all .1s;
    outline: none;
}

.con label {
    font-weight:500;
    display:block;
    margin-top: 15px;
}

.con input[type="submit"] {
    margin: 15px 0;
    background:linear-gradient(to bottom,#ffe3af,#f0c14b);
    font-size:15px;
}

.con input[type="submit"]:hover {
    background:linear-gradient(to bottom,#ffcb87,#d4ad48);
}

.rule_text,
.main_bottom {
    font-size:15px;
    color:#353535;
    letter-spacing: 0.5px;
}

.main_bottom {
    padding: 50px 0 20px 0;
}

.foot {
    padding-top: 30px;
    margin: 0 auto;
    width: 333px;
    display:flex;
    justify-content: space-evenly;
}

footer address {
    color:#888888;
    padding:30px 0;
}










